KAGGLE_USERNAME=VashuTheGreatCoder
KAGGLE_KEY=KGAT_b6155366acce06b2094b281d801d6036


MLFLOW_MODEL_URI= "models:/JOSAA/latest"

MLFLOW_MODEL_OBJECT_URI= "models:/JOSAA_OBJECT/latest"

MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
MLFLOW_TRACKING_URI=
DAGSHUB_API_TOKEN=
